.wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.account {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.accountName {
  font-size: 0.9rem;
  font-weight: 600;
}
.months {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
